extends layout

block content
	- if(!isSuccess)
		<!-- Modal -->
		#inputRoomPW.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
			.modal-dialog
				.modal-content
					.modal-header
						h3 Oops!
						| 관리자 모드로 들어가기 위한 비밀번호를 입력해주세요.
					.modal-body
						form(action='/join/', method='POST')
							.form-group
								label(for="roompw") 방 비밀번호
								input.form-control(type='password', name='roompw', id='roompw', placeholder='관리 목적의 방 비밀번호를 입력해주세요')
								input(type="hidden", name="roomid", id="roomid" value="#{roomid}")
							input.btn.btn-lg.btn-danger(type='submit', value='확인')
		script.
			$(document).ready(function(){
				$('#inputRoomPW').insertAfter($("#main-footer"));
				$('#inputRoomPW').modal({
					show: true,
					backdrop: 'static'
				});
			});
	- else
	input#roomid(type="hidden", value="#{roomid}")
	input#groupname(type="hidden", value="#{groupname}")
	.game-container
		.row
			.col-xs-12.game-mapview
				- if(!isStarted)
					.modal-backdrop.fade(style="position:absolute;opacity:.7")
					.modal-inner(style="position:absolute;z-index:1050;left:0;right:0;top:30%;text-align:center")
						input(type='button',id='gameStart', value='게임시작').btn.btn-danger.btn-lg
				
				.inner
					div
						img.spacer_full(src="/img/spacer_16_9.png")
					div.game-mapview-title(data-is-mobile="false")
						참가자의 모든 위치
					div(style="position:absolute; top:0;right:0;left:0;bottom:0;z-index:1;")
						div#map_canvas(style="width:100%; height:100%;")
					
		.row
			.col-xs-12.col-sm-6.game-activity
				.inner
					#activitys.activity-window
						p(style='text-align:center') 환영합니다.<br /> 모든 참가자가 들어왔다면 "게임시작"버튼을 눌러주세요.
					form#notifySender.row.activity-form
						div.col-xs-9.form-group
							input(type='text' placeholder="공지사항을 전달하세요.")#message.form-control
						div.col-xs-3.form-group
							input(type='submit', value='보내기').btn.btn-success
			.col-xs-12.col-sm-3.col-md-3.game-teaminfo
				.inner
					p 블루팀
					ul#blueTeam
						each attendant in attendants
							- if(attendant.team == 0)
								li(id='attendant-'+attendant.name)= attendant.name
			.col-xs-12.col-sm-3.col-md-3.game-teaminfo
				.inner
					p 레드팀
					ul#redTeam
						each attendant in attendants
							- if(attendant.team == 1)
								li(id='attendant-'+attendant.name)= attendant.name
	#participantInfo(style="display:none")
	- if(isSuccess)
		script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=AIzaSyB0OkEvPhBQziBq_I8ry-Hs_c2WtF4oRew&sensor=false')
		script(type='text/javascript', src='/js/proc.js')